@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;800&family=Roboto+Slab&display=swap');

.main-cont {
  background: white;
  // height: 100vh;
  text-transform: capitalize;
  padding: 10px !important;
  margin: 20px;
  input {
    display: block;
  }
  h1 {
    text-align: center;
  }
  .w-btn {
    width: 220px;
  }
  p{
    font-family: 'Piazzolla', serif;
    font-weight: 800;

  }
  select{
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  color: #000000;
  font-size: 20px;
  border-radius: 2rem;
  outline: none;

  }
  }

