@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;800&family=Roboto+Slab&display=swap');

.main-cont {
  background: white;
  // height: 100vh;
  text-transform: capitalize;
  padding: 10px !important;
  margin: 20px;
  input {
    display: block;
  }
  h1 {
    text-align: center;
  }
  .w-btn {
    width: 220px;
  }
  p{
    font-family: 'Piazzolla', serif;
    font-weight: 800;

  }
  }

