@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;800&family=Roboto+Slab&display=swap');


.si-func {
  background: white;
  // height: 100vh;
  text-transform: capitalize;
  padding: 10px !important;
  margin: 20px;
  font-family: 'Piazzolla', serif;
  font-weight: 800;


  input {
    display: block;

  }
  h1 {
    text-align: center;
  }
  button {
    width: 220px;
  }
}
